<div ng-include="'../views/site/header.html'">
</div>
<div class="col-2 offset-md-5" style="font-size: x-large;">
    {{ time | date:'medium'}}
</div>
<br>
<div class="col-6 offset-md-4" style="font-size: x-large;">
    <h1>Welcome to Simple Calculator</h1>
</div>
<br>
<div class="col-8 offset-md-2" style="font-size: x-large; text-align:justify">
    <p>Simple Calculator is Angularjs App that allows you to perform simple math operations using a custom API. Plus it has a User Management Mechanism that allows you to have a more secure way to access yourself. You'll also have a credit of $50 because
        each mathematical operation consumes an amount of it.
    </p>
    <p>To perform the mathematical operations please <a href="#!/record/create" style="color:rgb(0, 255, 34)">click here</a>
</div>