<nav id="navbar_top" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/dashboard">Home</a>
                </li>
            </ul>
        </div>
        <div ng-show="checkAccess()">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/users">Users</a>
                </li>
            </ul>
        </div>
        <div ng-show="checkAccess()">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/users/balance">Users Balance</a>
                </li>
            </ul>
        </div>

        <div ng-show="checkAccess()">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/services">Services</a>
                </li>
            </ul>
        </div>

        <div ng-show="checkAccess()">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/records">Records Report</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/records/user">My Records</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/record/create">New Service</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/user/profile">Profile</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" ng-controller="dashboardCtrl" ng-click="logout()">Logout ({{ user.username }})</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/> Loading...
</div>